<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <title>Game</title>
</head>
<body>
<h2>Game Board</h2>

<table class="table, buttons">
    <tr>
        <td>
            <div>
                <form action="/play" method="post">
                    <button class="btn btn-dark" type="submit">Play</button>
                </form>
            </div>
        </td>
        <td>
            <div>
                <form action="/hit" method="post">
                    <button class="btn btn-dark" type="submit">Hit</button>
                </form>
            </div>
        </td>
        <td>
            <div>
                <form action="/stand" method="post">
                    <button class="btn btn-dark" type="submit">Stand</button>
                </form>
            </div>
        </td>
    </tr>
</table>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Player Name</th>
        <th>Cards</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <p>HOUSE</p>
        </td>
        <td th:each="card: ${house.hand.cards}">
            <div th:if="${card.isFaceUp}">
                <img class="card" th:src="@{${'images/' + card.rank + '' + card.color + '.png'}}"/>
                <p th:text="${card.rank}"></p>
                <p th:text="${card.color}"></p>
            </div>
            <div th:unless="${card.isFaceUp}">
                <img class="card" th:src="@{${'images/BACK.png'}}"/>
                <p th:text="${card.rank}"></p>
                <p th:text="${card.color}"></p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p th:text="${player.login}"></p>
        </td>
        <td th:each="card: ${player.hand.cards}">
            <img class="card" th:src="@{${'images/' + card.rank + '' + card.color + '.png'}}"/>
            <p th:text="${card.rank}"></p>
            <p th:text="${card.color}"></p>
        </td>
    </tr>
    <p th:text="${deck}"></p>
    </tbody>
</table>

DECK
<td th:text="${#lists.size(deck.cards)}">[Deck Size]</td>
<div th:each="c: ${deck.cards}">
    <img class="card" th:src="@{${'images/' + c.rank + '' + c.color + '.png'}}"/>
    <!--    <p th:text="${c.rank + '' + c.color}"></p>-->
</div>

</body>
</html>